#övning{
    background-color: rgb(83, 148, 252);
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
}

.flex{
    background-color: yellow;
    border: 5px solid rgb(255, 132, 0);
}

body {
    margin: 40px;
  }
  
  .box {
    background-color: #040404;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    color: yellow;
  }
  
    .wrapper {
      display: grid;
      border:1px solid #000;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(100px,1fr) minmax(200px,2fr));
    }